extends layout

block content
    .main-wrapper
        .container
            .row
                .col-md-8.col-md-offset-2
                    .blog-posts
                        .col-md-12
                            .post-item
                                h2 Первый пост
                                p Текст первого поста
                                .post-footer
                                    a.like(href="#") <i class="fa fa-heart-o" aria-hidden="true"></i> <span>12</span>

