extends layout

block content
    .main-wrapper
        .container
            .row
                .col-md-8.col-md-offset-2
                    .blog-posts
                        .col-md-12
                            .post-item
                                .post-header
                                    .post-options
                                    a.post-img(href="#") <img src="/public/images/post/post1.jpg">
                                    .post-title
                                        h3 <a href="#">Мой самый самый самый самый первый и самый лучший пост на этом блоге</a>
                                        span.data  <i class="fa fa-calendar-check-o" aria-hidden="true"></i> 14.04.2017
                                .post-content
                                    p Теперь рассмотрим случай, когда все данные встроены в один документ. Для этого мы возьмем все Подписки Группы и встроим их в модель Группы. Плюсом в каждую Подписку встроим данные об Подписчике и его e-mail адресах...
                                a.read-next(href="#") Читать далее
                                .post-footer
                                    a.like(href="#") <i class="fa fa-heart-o" aria-hidden="true"></i> <span>12</span>
                                    span.watches <i class="fa fa-eye" aria-hidden="true"></i> <span>43</span>
                                    .tags
                                        ul
                                            li <a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Python</a>
                                            li <a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Javascript</a>
                                            li <a href="#"><i class="fa fa-hashtag" aria-hidden="true"></i> Web</a>

                            .post-item
                                .post-header
                                    a.post-img(href="#") <img src="/public/images/post/post1.jpg">
                                    .post-title
                                        h2 Первый пост
                                .post-content
                                    p Текст первого поста
                                .post-footer
                                    a.like(href="#") <i class="fa fa-heart-o" aria-hidden="true"></i> <span>12</span>

                            .post-item
                                .post-header
                                    a.post-img(href="#") <img src="/public/images/post/post1.jpg">
                                    .post-title
                                        h2 Первый пост
                                .post-content
                                    p Текст первого поста
                                .post-footer
                                    a.like(href="#") <i class="fa fa-heart-o" aria-hidden="true"></i> <span>12</span>

                            .post-item
                                .post-header
                                    a.post-img(href="#") <img src="/public/images/post/post1.jpg">
                                    .post-title
                                        h2 Первый пост
                                .post-content
                                    p Текст первого поста
                                .post-footer
                                    a.like(href="#") <i class="fa fa-heart-o" aria-hidden="true"></i> <span>12</span>
