body {
  font-family: "Comfortaa Regular", Arial, sans-serif;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: rgba(238, 238, 238, 0.34);
}
a {
  color: #00B7FF;
}
@font-face {
  font-family: "Comfortaa Regular";
  src: url('../fonts/Comfortaa-Regular.ttf');
}
.header-wrapper {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 0px 4px #ccc;
}
.footer-wrapper {
  padding: 20px 0;
}
.footer {
  padding: 0 15px;
  text-align: center;
}
span.rights {
  color: rgba(0,0,0,.6);
}
a.connect, a.resume {
  display: inline-block;
  margin-left: 22px;
  color: rgba(0,0,0,.6);
}
a.connect:hover, a.resume:hover {
  color: #1f75fe;
}
ul.main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.main-nav.nav-left {
  float: left;
}
li.list-item {
  display: inline-block;
}
li.list-item a {
  display: block;
  padding: 0 15px;
  color: rgba(0, 0, 0, .5);
  fill: rgba(0, 0, 0, .5);
  letter-spacing: .4px;
  font-size: 14px;
  font-weight: normal;
}
li.list-item a.active {
  color: #000;
}
li.list-item a:hover {
  text-decoration: none;
  color: rgba(0,0,0,.8);
}
ul.nav-right {
  float: right;
  margin: 0;
  padding: 0;
}
.post-item {
  padding: 20px 40px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 1px #aaa;
  position: relative;
}
.post-header {
  position: relative;
  height: 120px;
}
.post-footer {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: 35px;
}
.post-footer a.like {
  color: #1f75fe;
  font-size: 23px;
  position: relative;
}
.post-footer a.like:hover {
  text-decoration: none;
}
.post-footer a.like:hover i.fa.fa-heart-o {
  filter: drop-shadow(0px 0px 2px #1f75fe);
}
.post-footer a.like span {
  font-size: 16px;
  position: absolute;
  left: 28px;
  top: 1px;
  color: rgba(0,0,0,.5);
  letter-spacing: 2px;
}
a.post-img {
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  float: left;
}
a.post-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.post-title {
  display: inline-block;
  margin-top: -7px;
  margin-left: 30px;
  float: right;
  width: 510px;
}
.post-title h3 a {
  color: rgba(0,0,0,.7);
  transition: color .5s;
}
.post-title h3 a:hover {
  text-decoration: none;
  color: #000;
}
span.data {
  color: rgba(0,0,0,.6);
  font-size: 13px;
  margin-top: -3px;
  display: block;
}
a.read-next {
  color: #1f75fe;
}
a.read-next:hover {
  text-decoration: none;
}
span.watches {
  display: inline-block;
  margin-left: 33px;
  position: absolute;
  font-size: 21px;
  color: rgba(0,0,0,0.6);
  bottom: 32px;
  left: 76px;
}
span.watches span {
  font-size:16px;
}
.tags {
  float: right;
}
.tags ul {
  list-style-type: none;
  margin: 7px 0;
  padding: 0;
}
.tags ul li {
  display: inline-block;
  margin-left: 10px;
}
.tags ul li a {
  color: rgba(0,0,0,.5);
  font-size: 12px;
}
.tags ul li a:hover {
  color: #1f75fe;
}
.dop-opt {
  float: left;
}
.dop-item {
  margin-right: 10px;
}
.translate {
  width: 81px;
  background-color: rgba(50, 205, 50, .3);
  text-align: center;
  padding: 3px 2px 0;
  font-size: 13px;
  margin-top: 8px;
  color: #444;
  display: inline-block;
}
.tutorial {
  width: 80px;
  background-color: rgba(179, 131, 73, .4);
  text-align: center;
  padding: 3px 2px 0;
  font-size: 13px;
  margin-top: 8px;
  color: #444;
  display: inline-block;
}
